<div class="row">
  <div class="col-12">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Tracks</a>
          <ng-template ngbNavContent>
            <app-tracks [tracks]="tracks" (sortChange)="updateTracks($event)"></app-tracks>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Weather</a>
          <ng-template ngbNavContent>
            <app-weather [weather]="weather"></app-weather>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Skipass</a>
          <ng-template ngbNavContent>
            <app-skipass [skipass]="skipass" (newReservation)="postReservation($event)"></app-skipass>
          </ng-template>
        </li>
      </ul>
    </div>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
  